* {
    margin: 0px; 
    padding: 0px;
}

.mr-5 {
    margin: 5px;
}

.mr-rg-5 {
    margin-right: 5px;
}

.mr-bt-5 {
    margin-bottom: 5px;
}

.mr-10 {
    margin: 10px;
}

.bd-gray1 {
    border: 1px solid gray
}

.txt-title {
    font-weight: bold;
}